@import "@css/mixin/mixin.scss";

.btn {
  position: relative;
  @include flex(row, center, center);
  @include size(4.5rem);
  @include circle();
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--clr-accent);

  &[data-theme="dark"] {
    background-color: rgba(164, 69, 237, 0.25);

    svg {
      color: var(--clr-accent);
    }
  }

  svg {
    display: flex;
    @include size(1.25rem);
    z-index: var(--z-index-200);
    margin-left: 4px;
    color: white;
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    background-color: rgb(180, 180, 180);
    cursor: not-allowed;
    &:active {
      transform: scale(1);
    }
    svg {
      color: gray;
    }
  }
}
