//font-family: 'Lora', serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Inconsolata', monospace;
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter&family=Lora&display=swap");

:root {
  --clr-accent: rgb(164, 69, 237);
  --clr-warning: rgb(255, 82, 82);
  --clr-light-gray: rgb(117, 117, 117);

  --clr-primary-100: rgba(5, 5, 5);
  --clr-primary-200: rgba(5, 31, 31);
  --clr-primary-300: rgba(45, 45, 45);
  --clr-primary-400: rgba(58, 58, 58);
  --clr-primary-500: rgba(117, 117, 117);
  --clr-primary-600: rgba(233, 233, 233);
  --clr-primary-700: rgba(244, 244, 244);
  --clr-primary-800: rgba(255, 255, 255);

  --font-size-xl: 4rem;
  --font-size-lg: 1.5rem;
  --font-size-m: 1.25rem;
  --font-size-s: 1.125rem;
  --font-size-xs: 0.875rem;

  --transition-xs: 0.3s;
  --transition-md: 0.5s;

  --z-index-100: 100;
  --z-index-200: 200;

  --root-size: 46rem;

  // NEXT.js default font
  // --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  //   "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  //   "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family: sans-serif, "Inter", "Lora", serif, "Inconsolata", monospace;
  [data-theme="light"] {
    --background: white;
    --color: var(--clr-primary-300);
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --dark-to-accent: var(--clr-primary-500);

    // DropList Color
    --background-dropList: var(--clr-primary-800);
    --color-dropList: var(--clr-primary-100);
  }

  [data-theme="dark"] {
    --background: var(--clr-primary-100);
    --color: var(--clr-primary-800);
    --shadow: 0px 5px 30px 0px rgba(164, 69, 237, 1);
    --dark-to-accent: var(--clr-accent);

    // DropList Color
    --background-dropList: var(--clr-primary-400);
    --color-dropList: var(--clr-primary-800);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--background);
  font-family: var(--font-family);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.3;
}

p {
  color: var(--color);
}

#__next {
  background-color: var(--background);
  max-width: var(--root-size);
  width: 100%;
  height: inherit;
}

main {
  padding-bottom: 8rem;
}

.rootContainer {
  display: flex;
  max-width: var(--root-size);
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

form {
  background-color: var(--background);
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

h1 {
  font-weight: 700;
}

.font_xl {
  font-size: var(--font-size-xl);
  line-height: 1.2;
}
.font_lg {
  font-size: var(--font-size-lg);
  line-height: 1.25;
}
.font_m {
  font-size: var(--font-size-m);
  line-height: 1.25;
}
.font_s {
  font-size: var(--font-size-s);
}
.font_xs {
  font-size: var(--font-size-xs);
}

.text_accent {
  color: var(--clr-accent);
}

.text_gray {
  color: var(--clr-light-gray);
}

.text_warning {
  color: var(--clr-warning);
  min-height: 2rem;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}
