@use "@css/components/atoms/form/input.scss";
@use "@css/components/atoms/Text/text.scss";
@import "@css/mixin/mixin.scss";
@import "@css/utils/animation.scss";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter&family=Lora&display=swap");

:root {
  --clr-accent: rgb(164, 69, 237);
  --clr-warning: rgb(255, 82, 82);
  --clr-light-gray: rgb(117, 117, 117);

  --clr-primary-100: rgba(5, 5, 5);
  --clr-primary-200: rgba(31, 31, 31);
  --clr-primary-300: rgba(45, 45, 45);
  --clr-primary-400: rgba(58, 58, 58);
  --clr-primary-500: rgba(117, 117, 117);
  --clr-primary-600: rgba(233, 233, 233);
  --clr-primary-700: rgba(244, 244, 244);
  --clr-primary-800: rgba(255, 255, 255);

  --font-size-xl: 4rem; // 64px
  --font-size-lg: 1.5rem; // 24px
  --font-size-m: 1.25rem; // 20px
  --font-size-s: 1.125rem; // 18px
  --font-size-xs: 0.875rem; // 14px

  --transition-xs: 0.3s;
  --transition-md: 0.5s;

  --z-index-100: 100;
  --z-index-200: 200;

  --root-size: 51rem;

  @media screen and (max-width: 600px) {
    --font-size-xl: 2rem;
    --font-size-lg: 1.125rem;
    --font-size-m: 1.125rem;
    --font-size-s: 0.875rem;
    --font-size-xs: 0.875rem;
  }

  // NEXT.js default font
  // --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  //   "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  //   "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family: sans-serif, "Inter", "Lora", serif, "Inconsolata", monospace;
  [data-theme="light"] {
    --background: white;
    --color: var(--clr-primary-300);
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --dark-to-accent: var(--clr-primary-500);

    // DropList Color
    --background-dropList: var(--clr-primary-800);
    --color-dropList: var(--clr-primary-100);
    --input-background: var(--clr-primary-700);
    --input-text: var(--clr-primary-100);
    --input-placeholder: var(--clr-primary-500);
  }

  [data-theme="dark"] {
    --background: var(--clr-primary-100);
    --color: var(--clr-primary-800);
    --shadow: 0px 5px 30px 0px rgba(164, 69, 237, 1);
    --dark-to-accent: var(--clr-accent);
    --input-background: var(--clr-primary-700);

    // DropList Color
    --background-dropList: var(--clr-primary-400);
    --color-dropList: var(--clr-primary-800);
    --input-background: var(--clr-primary-200);
    --input-background: var(--clr-primary-200);
    --input-placeholder: white;
  }
}

a {
  color: var(--color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--color);
}

a:hover {
  text-decoration: underline;
}

body {
  @include flex(column, "", center);
  height: 100%;
  background-color: var(--background);
  font-family: var(--font-family);
  color: var(--color);
  line-height: 1.5;
}

#__next {
  width: 100%;
  height: inherit;
  background-color: var(--background);
  @include flex(column, "", center);
}

main {
  padding-bottom: 8rem;
}

.rootContainer {
  @include flex(column);
  padding: 0 2.5rem;
  min-height: 100%;
  max-width: 51rem;
  width: 100%;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

label {
  cursor: pointer;
}

.full_width {
  width: 100%;
  max-width: 100%;
}

.hr_horizontal {
  border: none;
  background-color: var(--clr-primary-600);
  height: 1px;
}
.hr_vertical {
  border: none;
  background-color: var(--clr-primary-600);
  height: 1.5rem;
  width: 1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
