.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0 51px;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.625rem;
}
