.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0 51px;
  background-color: var(--background);
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.625rem;
  position: relative;
  z-index: 300;
}
