@import "@css/mixin/mixin.scss";

$width: 2.5rem;
$height: 1.25rem;
$spacing: 3px;

.switchButton {
  @include flex(row, "", center);
  gap: 1.25rem;
}

.checkbox {
  position: relative;
  @include flex(row, "center", center);
  @include size($width);
  background-color: var(--dark-to-accent);
  border-radius: 99999px;
  cursor: pointer;
  content: " ";
  -webkit-appearance: none;
  appearance: none;

  &::before {
    position: absolute;
    left: $spacing;
    display: block;
    @include size(calc($height - ($spacing * 2)));
    background-color: var(--clr-primary-800);
    border-radius: 99999px;
    transition: ease-in var(--transition-xs);
    content: " ";
  }

  &:checked::before {
    transform: translateX(calc(200% - ($height / 2) + $spacing));
    background-color: white;
  }
}

.label {
  @include flex(column, space-between);
  gap: 1rem;
  overflow: hidden;
  position: relative;
  @include size($height);
  svg {
    @include size($height);
  }
}

.animate_switchTheme {
  @include flex(column, space-between);
  gap: 1rem;
}

// React css transitions

.enter,
.appear {
  opacity: 0;
  transform: translateX(-100%);
}

.enterActive,
.appearActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s, transform 0.3s;
}
